body{
  background: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  background-attachment: fixed;
}

.opac{
  opacity: .9;
}

.deleteButton{
  position: absolute;
  right: 1vw;
  top: 0;
  color: red;
  font-size: 40px;
  cursor:pointer;
}

.logo{
  font-size: 50px !important;
}
